/*-----------style corps de page----------------*/

@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegular';
    src: url('../LearningCurve_OT-webfont.eot');
    src: url('../LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../LearningCurve_OT-webfont.woff') format('woff'),
         url('../LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

html{
  height:100%;
}


body
{
   background-image:url('/image/louvreAccueil-.jpeg');
   background-size: 100%;
   background-color: #331107;
   background-repeat: no-repeat;
  
    position: center;

}

.footer{
  background-color: #1e1e1e;
  height: 100px;
  position: absolute;
  
  margin-right:300px;

}

.presentation{
    
    background-color: #1e1e1e;
    margin-left: 200px;
    margin-right:200px;
    margin-top: -20px;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 30px;
}

.testation{
    
    background-color: white;
    margin-right:-30px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;

}

.form{
    
    margin-right:-15px;
    margin-left: -15px;

}

h1 
{
    color: white;
    font-family: 'LearningCurveProRegular', Georgia, serif;
    
}


/*-----------style ENTETE----------------*/

.header img {
    width: 60%;
    padding-left: 5px;
    margin-bottom: 5px;
}

.header h1{
    text-align: left;
    
}

.pyramide{
    background-color: #c82d00;
    margin-left: 0px;
    padding-top: 5px;
    
    
}

/*-----------style PIED DE PAGE----------------*/

.footer{
    
    background-color: #1e1e1e;
    
    margin-right:200px;
    
}

.paiement{
    background-color: white;
     margin-left: 2px;
    margin-right: 2px;
    padding-top: 5px;
    
}

.paiement img {
    width: 150%;
}
.mention{
   padding:5px;
    padding-top: 10px;
  margin-left: 5px;
}

.mention p{
    color:white;
    font-size: 10px;
}




/*-----------PAGE INDEX----------------*/
.carousel{
    margin-top: 20px;
}


.title{
    background-color: #4e4e4e;
    margin-top: 20px;
    margin-left: -15px;
    margin-right:-30px;
    border-bottom:1px solid white;
    border-top:1px solid white;
     
}

.title h1{
    padding-left: 15px;
    color:white;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 5px;
}


#titre{
    color:#c82d00;
    font-size: 30px;
    font-weight: 800;
}

#evenement{
    color:white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.testation h1{
    
  color: black;
  font-size: 30px;
   
}
#texte{
    color:rgb(187, 173, 173);
    font-style: italic;
    
    font-weight: 800;
}

.carousel-caption{
    text-align: left;
    margin-left: -70px;
}
.billetdescription{
    margin-right: -30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
   
    
    
}
.billetdescription h1{
    color:#c82d00;
    font-family: 'LearningCurveProRegular', Georgia, serif;
}

.billetdescription h2{
    font-size: 25px;
    color:white;
    font-family: 'LearningCurveProRegular', Georgia, serif;
}

.billetdescription P{
    margin-top: 20px;
    color:white;
    font-family: 'LearningCurveProRegular', Georgia, serif;
    text-align: justify;
    font-style: oblique;
}

.billetchoice{
    margin-top: 20px;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #aaa;
    
    
}
.billetchoice h2 {
    text-align: center;
    color : rgb(218, 3, 3);
    font-weight: 800;
}

.billetchoice p {
    text-align: center;
    color:black;
    font-weight: 800;
}
.billetchoice .btn{
    background-color: #9b2200fd;
    border:1px solid #c82d00;
}


/*-----------style Formulaire----------------*/
.formulaire{
    background-color: #4e4e4e;
    padding : 40px;
    margin-right: -30px;
}
.ticketform{
    background-color: #9b2200fd;
    padding-right: 60px;
    padding-left: 60px;
    border-radius:10px ;
    margin-bottom: 20px;
}

/*-----------style panier----------------*/

.panier{
    background-color: white;
    border-width:2px;
    border-color:black;
}
.panier h3{
    background-color: #c82d00;
    padding: 5px;
    margin:-10px;
    margin-bottom: 10px;
    
}

.priceticket{
    background-color:  rgb(184, 179, 179);
    margin: none;
    text-align: center;
    padding-bottom: 10px;
    border-width:2px;
    border-color:black;
}
.priceticket h1{
    color:black;
}

redtext{
    color:red;
    font-style: italic;
}
.panier h5{
    color:#c82d00;
    font-style: italic;
    
}

.panierfinal{
    background-color: rgb(184, 179, 179);
    color: black;
    margin: 10px;
    padding: 20px;
}



.panierfinal h2{
    background-color: #c82d00;
    padding: 5px;
}

.billetVisitor{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    
}
/*-----------style datapicker----------------*/

#datepicker {

    color:black;   
}

.ui-datepicker {
    background-color: black;   
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    background-color: black;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #c82d00 url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: black;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    color: white;
    background-color: #c82d00;
}

.ui-widget-header {
    border: 1px solid #e78f08;
    background: #c82d00 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}
             
.ui-datepicker table {
    font-size: .9em;
    border-collapse: collapse;
    background: black ;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    background: black ;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    color: red;
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }