{% extends 'base.html.twig' %}


{% block title %}   Home{{"nom"}}{% endblock %} 
    
   {% block content %}

{# src/Louvre/PlatformBundle/Resources/views/Advert/index.html.twig #}

    <!-- Caroussel================================================== -->
<div class="container-fluid"> 

    <h1> bravo </h1>

</div>   
  
<div class="row title">
<h1>Billeterie page d'acceuil</h1>

</div>
<div class="row billetdescription text-center">

        <h1>Musée du Louvre</h1>
        <h2>Collections permanentes, expositions temporaires et musée Eugène Delacroix</h2>
        <p>
          Ouvert de 9h à 18h, et jusqu’à 21h45 les mercredis et vendredis. Fermé les mardis et les 1 er janvier, 1 er mai et 25 décembre. Entrée libre sans billet, sur présentation d’un justificatif pour les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen, les personnes handicapées et leur accompagnateur et les bénéficiaires des minimas sociaux.
        </p>


    <div class=" row text-center ">

        
        
        <div class= "col-sm-offset-4 col-sm-4 billetchoice text-center">
            <h2>achat de billets</h2>
            <p><a class=" btn btn-info btn-md" href="#">Commander  <span class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>
    
        </div>

        

    </div>
</div>


{% endblock %}