{% extends 'base.html.twig' %}


{% block title %}   Home{{"nom"}}{% endblock %} 
    
   {% block content %}

{# src/Louvre/PlatformBundle/Resources/views/Advert/index.html.twig #}

    <!-- Caroussel================================================== -->
<div class ="form container-fluid">
    <div class="row  testation "> 

        <h1> Billet d'entrée pour visiteur individuel </h1></br>
        <p>Billet et réservation horaire incluant les collections permanentes, les expositions temporaires  et le musée Eugène-Delacroix.</p>
        <p>Entrée à tarif reduit, sur présentation d’un justificatif pour les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen, les personnes handicapées et leur accompagnateur, et les bénéficiaires des minima sociaux. Liste complète sur Louvre.fr.
        Billet valable seulement le jour sélectionné.</p>
    </div> 

    
    <div class="row title ">
            <h1>Je choisis ma date de visite</h1>      
    </div>

    <div class="row billetdescription ">      
           
<p>Date: <input type="text" id="datepicker"></p>
    </div>


    <div class="row title ">
            <h1>Je choisis mon nombre de billet</h1>      
    </div>

    <div class="row billetdescription ">      
            <h2>Choix numero 2</h2>    
    </div>
</div>


{% endblock %}