{% extends 'base.html.twig' %}


{% block title %}   VALIDATION {% endblock %} 
    
   {% block content %}

{# src/Louvre/PlatformBundle/Resources/views/Advert/index.html.twig #}

    <!-- Caroussel================================================== -->
<div class ="form container-fluid">
    
     

  
   

    <div class="row panierfinal ">   


                 <h2>Merci pour votre achat</h2>

            <div class="row col-sm-offset-2 billetVisitor ">
                Bravo Votre achat est validé.</p>
                Un mail de confirmation avec votre commande et vos tickets va vous être envoyer sur votre boite e-mail. Pensez à verifier votre boite spam
            </div>      

            <div class=" col-sm-8 text-center firstage">
        <a class=" btn btn btn-primary" href="{{path('home')}}">Retour à l'accueil <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>
       
    </div>
    </div>
</div>
{% endblock %}